@model Survey

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted Form Data</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="body">
    <div class="results">
        <div>
            <h1 class="underline">Submitted Form Data</h1>
            <p>Name: @Model.name</p>
            <p>Dojo Location: @Model.dojoLocation</p>
            <p>Favorite Language: @Model.favLanguage</p>
            <p>Comments: @Model.comment</p>
            <a href="/"><button class="button">Home</button></a>
        </div>
    </div>
</body>
</html>